$md1: 199.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
@mixin desktopHd() {
  @media screen and (max-width: $md1 + px) {
    @content;
  }
}
@mixin desktop() {
  @media screen and (max-width: $md2 + px) {
    @content;
  }
}
@mixin tablets() {
  @media screen and (max-width: $md3 + px) {
    @content;
  }
}
@mixin phones() {
  @media screen and (max-width: $md4 + px) {
    @content;
  }
}

body,
html,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1440px;
  padding: 10px;
  margin: 0 auto;
  @include desktopHd {
    max-width: 970px;
  }
  @include desktop {
    max-width: 750px;
  }
  @include tablets {
    max-width: none;
  }
  @include phones {
    min-width: 320px;
  }
}

.search {
  &__form {
    display: flex;
    align-items: center;
  }
}

input[type="text"]:not(.browser-default):focus:not([readonly])
  + label.search__label.active {
  color: #ee6e73;
}
input[type="text"]:not(.browser-default):focus:not([readonly]).search__input {
  border-bottom: 1px solid #ff5722;
  box-shadow: 0 1px 0 0 #ff5722;
}
input.valid[type="text"]:not(.browser-default).search__input {
  border-bottom: 1px solid #ee6e73;
  box-shadow: 0 1px 0 0 #ee6e73;
}
